/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #540b51;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #540b51;
  color: #f3eae2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

nav div {
  display: flex;
  height: 5vw;
  flex-direction: row;
}

#logo-container img {
  height: 5vw;
  margin-left: 2vw;
  margin-top: 2vh;
}

#hamburger-container img {
  height: 4vw;
  margin-right: 2vw;
  margin-top: 2vh;
}

.modile-hidden {
  display: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;
  margin-top: 5vw;
  height: 140vw;
}

#hero-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vw;
  margin-top: 10vw;
}

#hero-section h1 {
  font-size: 10vw;
  text-align: center;
  color: #f3eae2;
  font-weight: 600;
  line-height: 1.2;
}

#hero-section p {
  font-size: 3vw;
  color: #f3eae2;
  text-align: center;
  margin-top: 5vw;
}

#hero-section .yellow-paragraph {
  color: #ecb12f;
}

#hero-section .white-paragraph {
  color: #f3eae2;
}

#sign-up-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5vw;
}


#try-out-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5vw;
  margin-bottom: 5vw;
  text-transform: uppercase;
}

#sign-up-email-button {
  background-color: #ffffff;
  color: #540b51;
  font-size: 3vw;
  font-weight: 400;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50vh;
  height: 8vw;
  text-transform: uppercase;
}

#sign-up-google-button {
  position: relative;
  background-color: #4285f4;
  color: #f3eae2;
  font-size: 3vw;
  font-weight: 400;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50vh;
  height: 8vw;
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
}

#sign-up-google-button img {
  height: 5vw;
  margin-left: 2vw;
  background-color: #f3eae2;
  padding: 1vw;
  border-radius: 5px;
}

#sign-up-google-button span {
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#partners-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5vw;
  padding-bottom: 5vw;
  background-color: #f3eae2;
}

#partners-section p {
  font-size: 3vw;
  color: #191817;
  text-align: center;
  margin-top: 8vw;
  text-transform: uppercase;
}

#partners-section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vw;
  margin-left: 0;
}

#first-class-partners {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#second-class-partners {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#partners-section img {
  height: 10vw;
  margin: 2vw;
}

#facts-about-slack-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5vw;
  padding-bottom: 5vw;
  background-color: #ffffff;
}

#facts-about-slack-section > h3 {
  font-size: 4vw;
  color: #540b51;
  text-align: center;
  font-weight: 600;
  width: 40vh;
  line-height: 1.2;
}

#facts-about-slack-section > p {
  font-size: 3vw;
  color: #000000;
  text-align: center;
  margin-top: 2vw;
  margin-bottom: 5vw;
  width: 40vh;
  line-height: 1.2;
}

#facts-about-slack-section .facts-numbers {
  font-size: 5vw;
  color: #540b51;
  text-align: center;
  font-weight: 800;
  margin-top: 2vw;
  margin-bottom: 1vw;
}

#facts-about-slack-section .facts-description {
  font-size: 2vw;
  color: #000000;
  text-align: center;
  font-weight: 800;
  width: 20vh;
}

#try-out-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

#try-out-section h3 {
  font-size: 4vw;
  color: #f3eae2;
  text-align: center;
  font-weight: 600;
  width: 30vh;
  line-height: 1.2;
}

#try-for-free-button {
  background-color: #ffffff;
  color: #540b51;
  font-size: 3vw;
  font-weight: 400;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50vh;
  height: 8vw;
  margin-top: 2vw;
}

#talk-to-sales {
  background-color: #540b51;
  color: #ffffff;
  font-size: 3vw;
  font-weight: 400;
  text-align: center;
  border: 0.1rem solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  width: 50vh;
  height: 8vw;
  margin-top: 2vw;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

footer hr {
  width: 80vw;
  margin: 6vw auto;
  border: none;
  border-top: 2px solid #ccc; /* Grey color */
}

#footer-menu {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 5vh;
}

#footer-menu li {
  list-style-type: none;
  margin-top: 2vw;
  color: #191817;
  font-size: 1.5rem;
  font-weight: 600;
}

#download-link {
  color: #2e71a6;
}

#footer-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 5vw;
  margin-left: 5vh;
  margin-right: 5vh;
}

#footer-logos i {
  font-size: 4vw;
  margin: 2vw;
}

#copyrights-section {
  margin-top: 5vw;
  text-align: center;
  color: #454245;
  margin-bottom: 4vw;
}

#copyrights-section small {
  font-size: 1rem;
  font-weight: 300;
  color: #454245;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100vw;
    margin-left: 5vh;
  }

  #hero-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 100vw;
    width: 40vh;
    margin-top: 10vw;
  }

  #hero-section h1 {
    font-size: 8vw;
    text-align: left;
    color: #f3eae2;
    font-weight: 600;
    line-height: 1.2;
  }

  #hero-section p {
    text-align: left;
  }

  #hero-product-ui-container {
    width: 60vh;
    height: 100vh;
    top: 35%;
    overflow: hidden;
    position: relative;
    align-items: center;
  }

  #hero-product-ui-container img {
    position: absolute;
    right: -28rem; /* adjust as needed */
  }

  #sign-up-email-button {
    font-size: 2vw;
    width: 50vh;
    height: 6vw;
  }

  #sign-up-google-button {
    font-size: 2vw;
    width: 50vh;
    height: 6vw;
  }

  #partners-section > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: space-between;
    margin-top: 5vw;
    margin-left: 0;
  }

  #partners-section img {
    height: 5vw;
    margin: 1.5vw;
  }

  #facts-about-slack-section > h3 {
    width: 80vh;
    font-size: 3vw;
  }

  #facts-about-slack-section > p {
    width: 80vh;
    font-size: 1.8vw;
  }

  #facts-about-slack-section ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-color: #ffffff;
  }

  #facts-about-slack-section li {
    margin-left: 8vw;
  }

  #facts-about-slack-section .facts-numbers {
    text-align: left;
  }

  #facts-about-slack-section .facts-description {
    text-align: left;
  }

  #try-out-section h3 {
    width: 80vh;
  }

  #try-for-free-button {
    width: 80vh;
    height: 7vw;
  }
  #talk-to-sales {
    width: 80vh;
    height: 7vw;
  }
  #footer-menu {
    flex-direction: row;
  }
  #copyrights-section {
    margin-left: 5vh;
    text-align: left;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100vw;
    margin-left: 5vh;
  }

  .modile-hidden {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      margin-left: 3vh;
      margin-top: 3vw;
      font-size: 1.8rem;
      flex: 1; /* Makes the list grow to fill available space */
      padding: 0;
      font-weight: 600;
  }

  #nav-menu {
    width: 40vh;
    margin-left: 3vh;
    font-weight: 400;
  }

  #hamburger-container {
    justify-content: space-around;
  }

  #nav-buttons {
    width: 25vh;
    justify-content: space-around;
    margin-right: 5vh;
  }
    
  #nav-menu li {
    margin-left: 4vh;
  }

  #nav-buttons li {
    margin-left: 1vh;
  }

  #search-icon {
    height: 2vw;
  }

  #hamburger-icon {
    display: none;
  }

  #nav-sign-in-button {
    width: 8vh;
  }

  #nav-try-for-free-button {
    background-color: #ffffff;
    color: #540b51;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 3vw;
    width: 20vh;
    text-transform: uppercase;
  }

  #hero-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 100vw;
    width: 40vh;
    margin-top: 10vw;
  }

  #hero-section h1 {
    font-size: 8vw;
    text-align: left;
    color: #f3eae2;
    font-weight: 600;
    line-height: 1.2;
  }

  #hero-section p {
    text-align: left;
  }

  #hero-product-ui-container {
    width: 60vh;
    height: 100vh;
    top: 35%;
    overflow: hidden;
    position: relative;
    align-items: center;
  }

  #hero-product-ui-container img {
    position: absolute;
    right: -28rem; /* adjust as needed */
  }

  #sign-up-email-button {
    font-size: 2vw;
    width: 50vh;
    height: 6vw;
  }

  #sign-up-google-button {
    font-size: 2vw;
    width: 50vh;
    height: 6vw;
  }

  #partners-section > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: space-between;
    margin-top: 5vw;
    margin-left: 0;
  }

  #partners-section img {
    height: 5vw;
    margin: 1.5vw;
  }

  #facts-about-slack-section > h3 {
    width: 80vh;
    font-size: 3vw;
  }

  #facts-about-slack-section > p {
    width: 80vh;
    font-size: 1.8vw;
  }

  #facts-about-slack-section ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-color: #ffffff;
  }

  #facts-about-slack-section li {
    margin-left: 8vw;
  }

  #facts-about-slack-section .facts-numbers {
    text-align: left;
  }

  #facts-about-slack-section .facts-description {
    text-align: left;
  }

  #try-out-buttons {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60vh;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }

  #try-out-section h3 {
    width: 90vh;
  }

  #try-out-buttons button {
    width: 25vh;
    height: 4vw;
    font-size: 1.6rem;
    font-weight: 550;
  }

  #footer-menu {
    flex-direction: row;
  }
  #copyrights-section {
    margin-left: 5vh;
    text-align: left;
  }
}

@media only screen and (min-width: 1441px) {
  header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 80vw;
    margin-left: 5vh;
  }

  .modile-hidden {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      margin-left: 3vh;
      margin-top: 3vw;
      font-size: 1.8rem;
      flex: 1; /* Makes the list grow to fill available space */
      padding: 0;
      font-weight: 600;
  }

  #nav-menu {
    width: 40vh;
    margin-left: 3vh;
    font-weight: 400;
  }

  #hamburger-container {
    justify-content: space-around;
  }

  #nav-buttons {
    width: 25vh;
    justify-content: space-around;
    margin-right: 5vh;
  }
    
  #nav-menu li {
    margin-left: 4vh;
  }

  #nav-buttons li {
    margin-left: 1vh;
  }

  #search-icon {
    height: 2vw;
  }

  #hamburger-icon {
    display: none;
  }

  #nav-sign-in-button {
    width: 8vh;
  }

  #nav-try-for-free-button {
    background-color: #ffffff;
    color: #540b51;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 3vw;
    width: 20vh;
    text-transform: uppercase;
  }

  #hero-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 100vw;
    width: 40vh;
    margin-top: 10vw;
  }

  #hero-section h1 {
    font-size: 7vw;
    text-align: left;
    color: #f3eae2;
    font-weight: 600;
    line-height: 1.2;
    width: 80vh;
  }

  #hero-section p {
    text-align: left;
  }

  #hero-product-ui-container {
    bottom: -20%;
    position: relative;
  }

  #hero-product-ui-container img {
    width: 100vh;
  }

/**/

  #sign-up-email-button {
    font-size: 1.3vw;
    width: 48vh;
    height: 6vw;
  }

  #sign-up-google-button {
    font-size: 1.3vw;
    width: 48vh;
    height: 6vw;
  }

  #sign-up-section {
    width: 100vh;
    justify-content: space-between;
    flex-direction: row;
  }

  #sign-up-google-button {
    margin-top: 0vw;
  }

  #sign-up-google-button span {
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(0%, -50%);
  }
/**/

  #partners-section > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: space-between;
    margin-top: 5vw;
    margin-left: 0;
  }

  #partners-section img {
    height: 5vw;
    margin: 1.5vw;
  }

  #facts-about-slack-section > h3 {
    width: 80vh;
    font-size: 3vw;
  }

  #facts-about-slack-section > p {
    width: 80vh;
    font-size: 1.8vw;
  }

  #facts-about-slack-section ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-color: #ffffff;
  }

  #facts-about-slack-section li {
    margin-left: 8vw;
    width: 40vh;
  }

  #facts-about-slack-section .facts-numbers {
    text-align: left;
  }

  #facts-about-slack-section .facts-description {
    text-align: left;
  }

  #try-out-buttons {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60vh;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }

  #try-out-section h3 {
    width: 90vh;
  }

  #try-out-buttons button {
    width: 25vh;
    height: 4vw;
    font-size: 1.6rem;
    font-weight: 550;
  }

  #footer-menu {
    flex-direction: row;
  }
  #copyrights-section {
    margin-left: 5vh;
    text-align: left;
  }
}
